* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.container-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 60px;
    width: 100%;
}

.me, .objectives, .perspective {
    width: 90%
}

.container-aboutme h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #774df5;
    padding-bottom: 20px;
}

.container-aboutme h3 {
    color: #774df5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
}

.objectives, .perspective {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.objective-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    width: 300px;
    height: 470px;
    border-radius: 10px;
    border: 2px solid #774df5;
    padding: 10px;
}

.item img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    max-width: 600px;
    color: #774df5;
}

@media (max-width: 1400px) {
    .container-aboutme h1 {
        font-size: 40px;
    }
    .container-aboutme h3 {
        font-size: 14px;
    }
}
