.final-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.final-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #774df5;
    padding-bottom: 10px;
}

.final-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #774df5;
    max-width: 50%;
    text-align: center;
}

.final-container p {
    font-size: 16px;
    text-align: center;
    max-width: 45%;
    color: #774df5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.thanks-title {
    width: 100%;
    margin-top: 30px;
}

.thanks-title h2 {
    color: #774df5;
    width: 45%;
    text-align: center;
    margin: auto auto;
}

@media (max-width: 1400px) {
    .final-container h1 {
        font-size: 40px;
    }
    .final-container h3 {
        font-size: 14px;
    }
}