* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

.container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#me {
    width: 350px;
    height: 350px;
    border-radius: 900px;
    /*transform: rotate(-35deg);*/
    margin-top: 10%;
    box-shadow: 0px 30px 100px #774df5, 0px 5px 20px #fff;
    /*transition: all ease 0.5s;*/
}

/*#me:hover {*/
/*    -webkit-animation: mover 2s infinite alternate, rotater 2s infinite alternate;*/
/*    animation: mover 2s infinite alternate, rotater 2s infinite alternate;*/
/*    box-shadow: 0px 30px 200px #774df5;*/
/*}*/
/*@-webkit-keyframes mover {*/
/*    0% { transform: translateY(0); }*/
/*    100% { transform: translateY(-20px); }*/
/*}*/
/*@keyframes mover {*/
/*    0% { transform: translateY(0); }*/
/*    100% { transform: translateY(-20px); }*/
/*}*/
/*@-webkit-keyframes rotater {*/
/*    0% { transform: rotate(-35deg); }*/
/*    100% { transform: rotate(-55deg); }*/
/*}*/

/*@keyframes rotater {*/
/*    0% { transform: rotate(-35deg); }*/
/*    100% { transform: rotate(-55deg); }*/
/*}*/

.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10%;
}

.about h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    max-width: 500px;
    --s: 0.1em;
    --c: #fff;
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#774df5 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}
.about h1:hover {--_p: 100%}

.about p, .about-me p {
    color: #774df5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 550px;
    text-align: left;
}

.contact-list {
    margin-top: 20px;
    display: none;
}

.contact-list img {
    max-width: 300px;
    max-height: 50px;
    min-width: 100px;
    min-height: 30px;
}


.contacts button {
    --c: #774df5;
    color: var(--c);
    font-size: 20px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: #0D1117;
}

.contacts button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.contacts button:hover {
    color: black;
    cursor: pointer;
}

.contacts button:hover span {
    transform: translateY(0) scale(2);
}

.contacts button span:nth-child(1) {
    --n: 1;
}

.contacts button span:nth-child(2) {
    --n: 2;
}

.contacts button span:nth-child(3) {
    --n: 3;
}

.contacts button span:nth-child(4) {
    --n: 4;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

hr {
    width: 60%;
    margin-bottom: 3%;
    color: #774df5;
}

.about-me, .interest, .tech-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 100px;
}

.about-me h2, .interest h2, .tech-stack h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    max-width: 550px;
    color: #774df5;
}

.about-me p {
    font-size: 16px;
    text-align: center;
    max-width: 600px;
}

.show-stuff {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 70%;
    justify-content: center;
}

.card-interest {
    width: 200px;
    height: 260px;
    border: 2px solid #774df5;
    padding: 10px;
    border-radius: 10px;
}

.card-interest img {
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.card-interest h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #774df5;
    margin-top: 10px;
}

.tech-container, .tech-container img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}


@media (max-width: 1400px) {
    #me {
        width: 250px;
        height: 250px;
    }
    .contacts button {
        width: 10em;
        height: 2.5em;
    }
}


